---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME, SITE } from "@consts";
import Link from "@components/Link.astro";
import Socials from "@components/Socials.astro";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <section class="space-y-8">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Mateusz Haligowski
        </h1>
        <article class="space-y-4">
          <div class="animate space-y-4">
            <p>
              I'm a software and site reliability engineer based in Seattle,
              Washington. I spend most of my time around Kubernetes, distributed
              systems, and the infrastructure that keeps them running.
            </p>
            <p>
              I write about what I build and break here on the
              <Link href="/blog">blog</Link>. If you'd like to get in touch, the
              best way is <Link href={`mailto:${SITE.EMAIL}`}>email</Link>.
            </p>
          </div>
          <p class="animate">
            To subscribe, the RSS feed is <Link href="/rss.xml">here</Link>.
          </p>
          <Socials class="animate" />
        </article>
      </section>
    </aside>
  </Container>
</Layout>
