---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
import Link from "@components/Link.astro";

const resumeUrl =
  "https://dl.dropboxusercontent.com/u/9035816/Mateusz%20Haligowski%20CV%20%5Ben%5D.pdf";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <section class="space-y-8">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          Mateusz Haligowski
        </h1>
        <article class="space-y-4">
          <div class="animate space-y-4">
            <p>
              I'm a software engineer living in Seattle, Washington. I tinker a
              lot with many different technologies to broaden my horizons and
              become a better programmer.
            </p>
            <p>
              I <Link href="https://www.twitter.com/mhlgio" external
                >tweet</Link
              > from time to time, and as you probably notice I try doing some
              <Link href="/blog">blogging</Link>. Feel free to contact me via
              Twitter.
            </p>
          </div>
          <p class="animate">
            If you're interested in my resume, you can have it from here
            <Link href={resumeUrl} external>PDF</Link>. If you want to subscribe
            to my blog, the RSS channel is <Link href="/rss.xml">here</Link>.
          </p>
        </article>
      </section>
    </aside>
  </Container>
</Layout>
